:root{
  --bs-font-sans-serif: 'Platypi', sans-serif;
  background-color: rgb(185, 120, 150);

}

.container-xxl{max-width:1529px ;}

body{
  background-image: linear-gradient(180deg, #E4EfE9, #93A5CF);
  
}

a {
  color: black;  
}

/* Category Card */
.category__link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}

.category__link:hover {
  transform: scale(1.1);
}

.category__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(59, 94, 168, 0.16);
  overflow: hidden;
  border-radius: 14px;
  
}

.category__img--large {
  height: 330px;
  
}

.category__img img {
  width: 100%;
  object-fit: cover;
 
}